
body {
    margin: 0;
    padding: 0;
    background-color: #f9faf8;
}

/*

    HEADER

*/

.header {
    border: solid #1F2937 2px;
}

.header_top {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

.header_top {
    margin: 0 128px;
}

.logo {
    font-size: 24px;
}

.header_top ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header_bottom {
    margin: 128px;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

.header_bottom .left {
    width: 400px;
}

.header_bottom .heading {
    font-size: 48px;
    font-weight: 900;
}

.header_bottom .subtext {
    font-size: 18px;
}

.header_bottom button {
    margin-top: 8px;
    padding: 8px 42px;
    border-radius: 8px;
}

.header_bottom .right {
    padding: 100px;
}

/*
    BODY
*/

/* INFO CONTAINER */

.info {
    margin: 156px 0 128px;
}

.info .info_heading {
    text-align: center;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
}

.info .info_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}

.info .image {
    width: 130px;
    height: 130px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info .subtext {
    width: 130px;
    font-weight: 18px;
}

/* QUOTE CONTAINER */

.quote {
    margin: 128px 0;
    padding: 128px 0;
}

.quote_text, .person_quoted {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 745px;
    margin-left: auto;
    margin-right: auto;
}

.quote .quote_text {
    font-size: 36px;
    font-style: italic;
}

.quote .person_quoted {
    text-align: end;
    font-size: 18px;
    font-weight: 900;
}


/* ACTION CONTAINER */

.action {
    margin: 128px 0;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

.action {
    width: 745px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 56px;
}

.action button {
    padding: 4px 21px;
    border-radius: 8px;

}

.action .text {
    font-size: 18px;
}

.action .heading {
    font-weight: 700;
}

/*
    FOOTER
*/

.footer {
    padding: 32px 48px;
}

.footer .text {
    text-align: center;
    font-size: 18px;
}


/*
    COLOR AND FONT STYLES
*/

.header, .footer {
    background-color: #1F2937;
}


.logo, .header_bottom .heading, .action .heading {
    color: #f9faf8;
}


.header_bottom .subtext, .header_top ul, .header_bottom .right, .footer, .action .text {
    color: #e5e7eb;
}

.info .subtext {
    color: gray;
}

.quote {
    background-color: #e5e7eb;
}

.action {
    background-color: #3882f6;
}

.action button {
    border-color: #e5e7eb;
}

button {
    color:#f9faf8;
    background-color: #3882f6;
    border-color: #3882f6;
    border-style: solid;
}

.header_bottom .right {
    background-color: gray;
}

.quote_text {
    color: #1F2937;
}






